<footer class="main-footer">
    <strong>Copyright &copy; Phoebe Gao</strong> All rights reserved.
</footer>

<div class="modal fade" id="read" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">这里是消息的内容</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">这里是消息的内容</div>
            <div class="modal-footer">
                <input class="form-control input-sm" type="text" placeholder="回复点什么吧">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">回复</button>
            </div>
        </div>
    </div>
</div>