<!--好友动态列表界面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好友动态界面</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/App.css">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!--logo-->
        <a href="../index.html" class="logo">
            <span class="logo-mini"><b>RB</b></span>
            <span class="logo-lg"><b>Running Bar</b></span>
        </a>

        <!--上面的导航栏-->
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!--收到的回复等(信封)-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-danger">&nbsp;</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你收到了新的评论</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../assets/img/avatar2.png" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>Test</h4>
                                            <p>测试使用</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> aaa关注了你
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有新的评论与回复</a></li>
                        </ul>
                    </li>

                    <!--用户头像信息-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../assets/img/avatar.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">Jessica</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="../assets/img/avatar.png" class="img-circle" alt="User Image">
                                <p>Jessica</p>
                            </li>
                            <!-- 具体信息 -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <a href="friends.html">我的关注</a>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <a href="friends.html">我的粉丝</a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="userinfo.html" class="btn btn-default btn-flat">个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a href="login.html" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--左边的导航栏-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!--用户信息部分-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../assets/img/avatar.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Jessica</p>
                </div>
            </div>

            <!--搜索部分-->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <!--下面不同的tab-->
            <ul class="sidebar-menu">
                <li class="header"></li>

                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-file"></i>
                        <span>个人运动数据</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="sportdata.html"><i class="fa fa-circle-o"></i> 历史数据展示</a></li>
                        <li><a href="analyse.html"><i class="fa fa-circle-o"></i> 统计分析</a></li>
                        <li><a href="post.html"><i class="fa fa-circle-o"></i> 我的动态</a></li>
                    </ul>
                </li>

                <li>
                    <a href="activity.html">
                        <i class="glyphicon glyphicon-th"></i>
                        <span>活动管理</span>
                    </a>
                </li>

                <li>
                    <a href="postlist.html">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>好友动态</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <!--中心界面部分-->
    <div class="content-wrapper">
        <section class="content-header">
            <h4>好友动态</h4>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-11 col-sm-11">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="post clearfix" style="margin: 2%">
                                <div class="user-block">
                                    <div class="col-md-1">
                                        <img style="width: 80%" class="img-circle img-bordered-sm" src="../assets/img/avatar2.png">
                                    </div>
                                    <a href="#">Phoebe</a>
                                    <p style="font-size: 11px" class="description">2016-10-19 16:00</p>
                                </div>
                                <a href="postinfo.html" style="font-family:Microsoft YaHei;color: #000000;font-size:20px;">这里是标题</a>
                                <p class="product-description">这里是内容</p>

                                <ul class="list-inline">
                                    <li style="margin-left: 1%">
                                        <a href="#" class="link-black text-sm">
                                            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;赞
                                        </a>
                                    </li>
                                    <li class="pull-right" style="margin-right: 1%">
                                        <span style="font-family:Microsoft YaHei;font-weight:400;font-size:17px;opacity:1">2</span>
                                        <span style="font-family:Microsoft YaHei;font-weight:500;font-size:14px;opacity:0.8">个赞</span>
                                    </li>
                                    <li class="pull-right" style="margin-right: 1%">
                                        <span style="font-family:Microsoft YaHei;font-weight:400;font-size:17px;opacity:1">5</span>
                                        <span style="font-family:Microsoft YaHei;font-weight:500;font-size:14px;opacity:0.8">条评论</span>
                                    </li>
                                </ul>

                                <form class="form-horizontal">
                                    <div class="form-group margin-bottom-none">
                                        <div class="col-sm-10">
                                            <input class="form-control input-sm" placeholder="回复">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary pull-right btn-block btn-sm">发送</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="post clearfix" style="margin: 2%">
                                <div class="user-block">
                                    <div class="col-md-1">
                                        <img style="width: 80%" class="img-circle img-bordered-sm" src="../assets/img/avatar2.png">
                                    </div>
                                    <a href="#">Phoebe</a>
                                    <p style="font-size: 11px" class="description">2016-10-19 16:00</p>
                                </div>
                                <a href="postinfo.html" style="font-family:Microsoft YaHei;color: #000000;font-size:20px;">这里是标题</a>
                                <p class="product-description">这里是内容</p>

                                <ul class="list-inline">
                                    <li style="margin-left: 1%">
                                        <a href="#" class="link-black text-sm">
                                            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;赞
                                        </a>
                                    </li>
                                    <li class="pull-right" style="margin-right: 1%">
                                        <span style="font-family:Microsoft YaHei;font-weight:400;font-size:17px;opacity:1">2</span>
                                        <span style="font-family:Microsoft YaHei;font-weight:500;font-size:14px;opacity:0.8">个赞</span>
                                    </li>
                                    <li class="pull-right" style="margin-right: 1%">
                                        <span style="font-family:Microsoft YaHei;font-weight:400;font-size:17px;opacity:1">5</span>
                                        <span style="font-family:Microsoft YaHei;font-weight:500;font-size:14px;opacity:0.8">条评论</span>
                                    </li>
                                </ul>

                                <form class="form-horizontal">
                                    <div class="form-group margin-bottom-none">
                                        <div class="col-sm-10">
                                            <input class="form-control input-sm" placeholder="回复">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary pull-right btn-block btn-sm">发送</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; Phoebe Gao</strong> All rights reserved.
    </footer>
</div>
</body>
</html>
