<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户个人信息</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/App.css">

    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/app.js"></script>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!--logo-->
        <a href="../index.html" class="logo">
            <span class="logo-mini"><b>RB</b></span>
            <span class="logo-lg"><b>Running Bar</b></span>
        </a>

        <!--上面的导航栏-->
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!--收到的回复等(信封)-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-danger">&nbsp;</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你收到了新消息</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a data-toggle="modal" href="#" data-target="#comment">
                                            <div class="pull-left">
                                                <img src="../assets/img/avatar2.png" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>Test</h4>
                                            <p>测试使用</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="#" data-target="#read">
                                            <i class="fa fa-users text-aqua"></i> aaa关注了你
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--用户头像信息-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../assets/img/avatar.png" class="user-image" alt="User Image">
                            <span class="hidden-xs">Jessica</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="../assets/img/avatar.png" class="img-circle" alt="User Image">
                                <p>Jessica</p>
                            </li>
                            <!-- 具体信息 -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <a href="friends.html">我的关注</a>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <a href="friends.html">我的粉丝</a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">个人信息</a>
                                </div>
                                <div class="pull-right">
                                    <a href="login.html" class="btn btn-default btn-flat">登出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--左边的导航栏-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!--用户信息部分-->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../assets/img/avatar.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Jessica</p>
                </div>
            </div>

            <!--搜索部分-->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>

            <!--下面不同的tab-->
            <ul class="sidebar-menu">
                <li class="header"></li>

                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-file"></i>
                        <span>个人运动数据</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="sportdata.html"><i class="fa fa-circle-o"></i> 历史数据展示</a></li>
                        <li><a href="analyse.html"><i class="fa fa-circle-o"></i> 统计分析</a></li>
                        <li><a href="post.html"><i class="fa fa-circle-o"></i> 我的动态</a></li>
                    </ul>
                </li>

                <li>
                    <a href="activity.html">
                        <i class="glyphicon glyphicon-th"></i>
                        <span>活动管理</span>
                    </a>
                </li>

                <li>
                    <a href="postlist.html">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>好友动态</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <!--中心界面部分-->
    <div class="content-wrapper">
        <section class="content-header"><h1>个人信息</h1></section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#info" data-toggle="tab">基本信息</a></li>
                            <li><a href="#account" data-toggle="tab">账号安全</a></li>
                        </ul>

                        <div class="tab-content">
                            <!--个人信息tab界面-->
                            <div class="tab-pane active" id="info">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">头像</label>
                                        <div class="col-sm-2 pull-left image">
                                            <img src="../assets/img/avatar.png" width="80%" height="80%" class="img-circle" alt="User Image">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-default">上传新头像</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" id="username" value="Jessica" placeholder="用户名">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">性别</label>
                                        <div class="col-sm-8">
                                            <select>
                                                <option value="male">男</option>
                                                <option value="female">女</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">生日</label>
                                        <div class="col-sm-3">
                                            <input type="date" value="1989-04-18">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">所在地</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" value="江苏徐州" id="location" placeholder="所在地">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">兴趣</label>
                                        <div class="col-sm-3">
                                            <select>
                                                <option value="run">跑步</option>
                                                <option value="swim">游泳</option>
                                                <option value="fit">健身</option>
                                                <option value="yoga">瑜伽</option>
                                                <option value="bike">骑行</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-offset-2 col-sm-2 control-label">运动宣言</label>
                                        <div class="col-sm-3">
                                            <textarea class="textarea" placeholder="添加宣言让大家认识你" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <button type="submit" class="btn btn-danger">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--账号信息(密码)界面-->
                            <div class="tab-pane" id="account">
                                <div style="width: 50%" class="col-md-offset-2">
                                    <h4 class="col-sm-offset-2">修改密码</h4>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-offset-2 col-sm-4 control-label">当前密码</label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="current_pwd">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-offset-2 col-sm-4 control-label">新密码</label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="new_pwd">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-offset-2 col-sm-4 control-label">重复新密码</label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="repeat_pwd">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-6 col-sm-4">
                                                <button type="submit" class="btn btn-danger">修改密码</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <hr size="1">

                                <div style="width: 50%" class="col-md-offset-2">
                                    <h4 class="col-sm-offset-2">修改绑定手机号</h4>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-offset-2 col-sm-4 control-label">当前手机号</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="current_num">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-offset-2 col-sm-4 control-label">新手机号</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="new_num">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-offset-2 col-sm-4 control-label">输入验证码</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="confirm">
                                            </div>
                                            <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat">获取验证码</button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-6 col-sm-4">
                                                <button type="submit" class="btn btn-danger">修改手机号</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--tab-content-->
                    </div>
                    <!--nav-tabs-custom-->
                </div>
                <!--col-->
            </div>
            <!--row-->
        </section>
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; Phoebe Gao</strong> All rights reserved.
    </footer>

    <div class="modal fade" id="read" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">这里是消息的内容</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">这里是消息的内容</div>
                <div class="modal-footer">
                    <input class="form-control input-sm" type="text" placeholder="回复点什么吧">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">回复</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>