.modal {
    background: rgba(0, 0, 0, 0.3);
}
.modal-content {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    border: 0;
}
@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    }
}
.modal-header {
    border-bottom-color: #f4f4f4;
}
.modal-footer {
    border-top-color: #f4f4f4;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
    border-color: #307095;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
    border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
    border-color: #0097bc;
}
.modal-success .modal-header,
.modal-success .modal-footer {
    border-color: #00733e;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
    border-color: #c23321;
}